name: "Run tests"

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [ 7.3, 7.4, 8.0, 8.1, 8.2 ]
        laravel: [ 6.*, 7.*, 8.*, 9.*, 10.* ]
        exclude:
          - laravel: 10.*
            php: 7.3
          - laravel: 10.*
            php: 7.4
          - laravel: 10.*
            php: 8.0
          - laravel: 9.*
            php: 7.3
          - laravel: 9.*
            php: 7.4
          - laravel: 7.*
            php: 8.1
          - laravel: 7.*
            php: 8.2
          - laravel: 6.*
            php: 8.1
          - laravel: 6.*
            php: 8.2

    name: PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Install SQLite 3
        run: |
          sudo apt-get update
          sudo apt-get install sqlite3

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-pw-v2-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: curl, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, iconv
          coverage: none
          tools: composer:v2

      - name: Install dependencies
        run: |
          composer --version
          composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-update
          composer update --prefer-stable --prefer-dist --no-interaction --no-suggest
          composer dump

      - name: Execute tests
        run: vendor/bin/phpunit
